footer{
    position: relative;
    width: 100%;
    padding: 30px 10vw;
    padding-bottom: 30px; 
    background: black;    
    
}
.footer-content{
    display: flex;
    width: 100;
    color: white;
    justify-content: center;
}
